.navbar {
  background-color: #8ed1c3; /* Cambia al color deseado */
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que el menú esté sobre otros elementos */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-left: 10px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.navbar-link:hover {
  text-decoration: underline;
}
